<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.girisekran">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.CalculationsActivity"></activity>
        <activity android:name=".Activity.ProfileActivity" />
        <activity android:name=".Activity.AkisActivity" />
        <activity android:name=".Hesaplamalar.GunlukSuMiktariHesaplama" />
        <activity android:name=".Hesaplamalar.AGEActivity" />
        <activity android:name=".Hesaplamalar.BMHActivity" />
        <activity android:name=".Hesaplamalar.IdealKiloHesaplama" />
        <activity android:name=".Hesaplamalar.BKİActivity" />
        <activity android:name=".Activity.SignUpActivity" />
        <activity android:name=".Activity.SignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>